

#navlist
{
padding: 0 5% 1px;
margin-left: 0;
font: bold;
text-align: right;
}

#navlist li
{
list-style: none;
margin: 0;
display: inline;
}

#navlist li a
{
padding: 0.2em 0.5em 0.2em 0.5em;
border-left: 10px solid #A0877D;
background: #FFF2EC;
text-decoration: none;
font-size: 16px;

}


#navlist li a:hover
{
border-color: #fff;
background:   #A0877D;
}
