<ul>
  <li><a href="/tutorials/code/add-cmd/">Tutorial Overview</a></li>
  <li><a href="/tutorials/code/add-cmd/custom-plugin.html">The Custom Plugin</a></li>
  <li><a href="/tutorials/code/add-cmd/help-file.html">Create a Help File</a></li>
  <li><a href="/tutorials/code/add-cmd/db-field.html">Create a Database Field</a></li>
  <li><a href="/tutorials/code/add-cmd/cmd-handler.html">Create a Command Handler</a></li>
  <li><a href="/tutorials/code/add-cmd/cmd-handler2.html">Create Another Command Handler</a></li>
  <li><a href="/tutorials/code/add-cmd/removing-cmd.html">Removing the Commands</a></li>
  <li><a href="/tutorials/code/add-cmd/next-steps.html">Next Steps</a></li>
</ul>

              