<ul>
  <li><a href="/tutorials/code/add-web/">Tutorial Overview</a></li>
  <li><a href="/tutorials/code/add-web/data.html">Setting up the Data</a></li>
  <li><a href="/tutorials/code/add-web/custom-hooks.html">About Custom Hooks</a></li>
  <li><a href="/tutorials/code/add-web/get-request.html">Modifying the Web Request</a></li>
  <li><a href="/tutorials/code/add-web/get-template.html">Modifying the Profile Template</a></li>
  <li><a href="/tutorials/code/add-web/edit-template.html">Modifying the Edit Template</a></li>
  <li><a href="/tutorials/code/add-web/edit-request.html">Modifying the Edit Request</a></li>
  <li><a href="/tutorials/code/add-web/modify-chargen.html">Modifying Chargen</a></li>
  <li><a href="/tutorials/code/add-web/next-steps.html">Next Steps</a></li>
</ul>
