<ul>
  <li><a href="/tutorials/code/create-plugin/">Tutorial Overview</a></li>
  <li><a href="/tutorials/code/create-plugin/plugin-folder.html">Create a Plugin Folder</a></li>
  <li><a href="/tutorials/code/create-plugin/plugin-module.html">Create a Plugin Module</a></li>
  <li><a href="/tutorials/code/create-plugin/config-file.html">Create a Config File</a></li>
  <li><a href="/tutorials/code/create-plugin/help-file.html">Create a Help File</a></li>
  <li><a href="/tutorials/code/create-plugin/db-model.html">Create a Database Model</a></li>
  <li><a href="/tutorials/code/create-plugin/abilities-cmd.html">Create the Abilities Command</a></li>
  <li><a href="/tutorials/code/create-plugin/set-ability-cmd.html">Create the Set Ability Command</a></li>
  <li><a href="/tutorials/code/create-plugin/sheet-cmd.html">Create the Sheet Command</a></li>
  <li><a href="/tutorials/code/create-plugin/app-review-cmd.html">Expand the App Review Command</a></li>
  <li><a href="/tutorials/code/create-plugin/roll-cmd.html">Create the Roll Command</a></li>
  <li><a href="/tutorials/code/create-plugin/locale-file.html">Create a Translations File</a></li>
  <li><a href="/tutorials/code/create-plugin/cmd-dispatch.html">Create a Dispatch Link</a></li>
  <li><a href="/tutorials/code/create-plugin/next-steps.html">Next Steps</a></li>
</ul>
