<ul>
  <li><a href="/tutorials/install/choosing-a-host.html">Choosing a Host</a>
    <ul>
      <li><a href="/tutorials/install/easy-mode.html">Digital Ocean Easy Mode</a></li>
      <li><a href="/tutorials/install/digital-ocean.html">Digital Ocean Self-Install</a></li>
      <li><a href="/tutorials/install/custom-server.html">Custom Servers</a></li>
    </ul>
  </li>
  <li><a href="/tutorials/install/getting-a-hostname.html">Getting a Host Name</a></li>
  <li><a href="/tutorials/install/server-shell.html">Connecting to the Server Shell</a></li>
  <li><a href="/tutorials/install/setup-server.html">Setup the Server</a></li>
  <li><a href="/tutorials/install/install-game.html">Install the Game</a></li>
  <li><a href="/tutorials/install/next-steps.html">Next Steps</a></li>
</ul>
