                  <div class="sidebar">   
{% include searchbox.html %}
                  
<div class="sidebar-title">See AresMUSH In Action</div>

<p>Visit the Ares <a href="http://mush.aresmush.com">Demo Game</a>.</p>

<p>Find other Ares games at <a href="http://arescentral.aresmush.com">AresCentral</a>.</p>

<div class="sidebar-title">Discuss Ares</div>

<p>Have a question?  Want to talk about AresMUSH (or MU*s in general)?  Visit our <a href="http://forum.aresmush.com">Discussion Forum</a> or the <a href="feedback.html">Discord chat</a>.</p>

<div class="sidebar-title">Stay Up to Date</div>

<p>Important updates are posted on the <a href="feedback.html">forum and discord</a>.