                      
                      <div class="titlebox">
                                                    
                         <div class="blogtitle">
                          
                              <a href="{{urls.base_path}}">{{site.title}}</a> 
                              
                          </div>
                          
                          <div class="tagline">
                                {{site.tagline}}            
                            </div>
                            
                            </div>
                             
                      
                            {% include navbar.html %}
                      
                        