<nav class="navbar navbar-light bg-faded">
 
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="librarynav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Library <span class="caret">
        </a>
        <ul class="dropdown-menu">
          <li><a href="/features/">Features</a></li>
          <li><a href="/tutorials">Tutorials</a></li>
          <li><a href="/articles">General MU* Articles</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="librarynav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FS3 <span class="caret">
        </a>
        <ul class="dropdown-menu">
          <li><a href="/fs3/">FS3 Home</a></li>
          <li><a href="/fs3/fs3-3/">Player's Guide</a></li>
          <li><a href="/fs3/fs3-3/roll-quickref">Skills Quick Reference</a></li>
          <li><a href="/fs3/fs3-3/combat-quickref">Combat Quick Reference</a></li>
          <li><a href="/fs3/fs3-3/combat-walkthrough">Interactive Combat Walkthrough</a></li>
        </ul>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="codenav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Code <span class="caret">
        </a>
        <ul class="dropdown-menu">
          <li><a href="/help">Online Help</a></li>
          <li><a href="/code/">Code</a></li>
        </ul>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="communitynav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Community <span class="caret">
        </a>
        <ul class="dropdown-menu">
          <li><a href="http://arescentral.aresmush.com">AresCentral Directory <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
          <li><a href="http://forum.aresmush.com">Discussion Forum <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
          <li><a href="http://aresmush.wordspress.com">Developer's Blog <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
          <li><a href="http://logcleaner.aresmush.com/">RP Log Cleaner <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="communitynav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <ul class="dropdown-menu">
          <li><a href="/feedback">Contact Us</a>
          <li><a href="/privacy">Privacy Policy</a>
        </ul>
      </li>

    </ul>
  </div>
</nav>
