                      <a href="#" id="menubutton"><img src="/assets/media/menu.png"/></a>
                         
                     
                      <div id="navbar">
                          
                                                       
                          <ul class="nav">
                              <li><a href="/">Home</a></li>
                              <li><a href="http://aresmush.wordspress.com">Blog</a></li>
                          </ul>
                          

                              <a href="/features/"><span class="nav-section">Features</span></a>

                          <ul class="nav">
                              
                                  <li><a href="/features/">Why AresMUSH?</a>
                                  <li><a href="/features/ares-for-players">Ares for Players</a>
                                  <li><a href="/features/ares-for-admins">Ares for Admins</a>
                                  <li><a href="/features/ares-for-coders">Ares for Coders</a>
                                  <li><a href="/fs3">FS3</a>
                                      
                                  </ul>
                                  
                                       
                                    <a href="/tutorials"><span class="nav-section">Tutorials</span></a>
                                    
                              <ul class="nav">
                                  
                              <li><a href="/mush-101">MUSH 101</a></li>
                              <li><a href="/ares-for-vets">Ares for Veteran MUSHers</a></li>
                              <li><a href="/handles">Player Handles</a>
                              <li><a href="/clients">Client Setup</a>
                              <li><a href="/formatting">ANSI and Formatting</a>
                              <li><a href="/articles">Other Articles</a></li>
                              <li><i>More Coming Soon</i></li>
                              
                              </ul>
                              
                               <a href="/code/"><span class="nav-section">Code</span></a>
                               
                              <ul class="nav">
                              
                              <li><a href="/code/plugins">Plugins</a>
                              <li><a href="/code">Source Code</a>
                              
                              </ul>
                              
                          
                             
                              
                              <a href="/"><span class="nav-section">Misc</span></a>
                              
                              <ul class="nav">
                              
                              <li><a href="/about">About</a></li>
                              <li><a href="/feedback">Feedback</a></li>
                              <li><a href="/privacy">Privacy Policy</a></li>
                          </ul>
                      

                      </div>
                      
