                      
                      <div class="titlebox">
                          
                          {{>navbar}}
                          
                         <div class="blogtitle">
                          
                              <a href="{{urls.base_path}}">{{data.title}}</a> 
                              
                          </div>
                          
                          <div class="tagline">
                                {{data.tagline}}            
                            </div>
                            
                                          

                       

                            
                            
                            </div>
                             
                      
                      
                        