---
layout : default
---

                         
                         <div class="col span_1_of_4">
                             
                             <div class="fs3-sidebar"> 
                                 
                             <h2>FS3.3 System Reference Document</h2>
                             <a href="/fs3/fs3-3/">Introduction</a>
                             
                             <h4>Character Guide</h4>
                             <ul>
                                 <li><a href="/fs3/fs3-3/basics">System Basics</a></li>
                                 <li><a href="/fs3/fs3-3/chargen">Character Creation</a>
                                     <ul>
                                         <li><a href="/fs3/fs3-3/chargen#background">Background</a></li>
                                         <li><a href="/fs3/fs3-3/chargen#ability-points">Ability Points</a></li>
                                         <li><a href="/fs3/fs3-3/chargen#attributes">Attributes</a></li>
                                         <li><a href="/fs3/fs3-3/chargen#action-skills">Action Skills</a></li>
                                         <li><a href="/fs3/fs3-3/chargen#background-skills">Background Skills</a></li>
                                         <li><a href="/fs3/fs3-3/chargen#languages">Languages</a></li>
                                         <li><a href="/fs3/fs3-3/chargen#rp-hooks">RP Hooks</a></li>
                                         <li><a href="/fs3/fs3-3/chargen#review">Review</a></li>
                                     </ul>
                                 </li>
                                 <li><a href="/fs3/fs3-3/detailed-ratings">Detailed Ability Ratings</a></li>
                                 <li><a href="/fs3/fs3-3/experience">Experience</a></li>
                                     
                                     
                                 </ul>
                             
                             <h4>Conflict Guide</h4>
                             <ul>
                                 
                                 <li><a href="/fs3/fs3-3/conflict#when-to-roll">When to Roll</a></li>
                                 <li><a href="/fs3/fs3-3/conflict#hail-mary">Hail Mary Rolls</a></li>
                                 <li><a href="/fs3/fs3-3/conflict#what-to-roll">What to Roll</a></li>
                                 <li><a href="/fs3/fs3-3/conflict#defaulting">Defaulting</a></li>
                                 <li><a href="/fs3/fs3-3/conflict#specialties">Specialties</a></li>
                                 <li><a href="/fs3/fs3-3/conflict#success-level">Success Level</a></li>
                                 <li><a href="/fs3/fs3-3/conflict#modifiers">Modifiers</a></li>
                                 <li><a href="/fs3/fs3-3/conflict#linked-attributes">Linked Attributes</a></li>
                                 <li><a href="/fs3/fs3-3/conflict#opposed-rolls">Opposed Rolls</a></li>
                                 <li><a href="/fs3/fs3-3/conflict#teamwork">Teamwork</a></li> 
                                 <li><a href="/fs3/fs3-3/luck">Luck Points</a></li>
                                 </ul>
                
                                 <h4>Combat Guide</h4>
                                 <ul>
                                 <li><a href="/fs3/fs3-3/combat#turns">Turns</a></li>
                                 <li><a href="/fs3/fs3-3/combat#actions">Actions</a></li>
                                 <li><a href="/fs3/fs3-3/combat#initiative">Initiative</a></li>
                                 <li><a href="/fs3/fs3-3/combat#stance">Stance</a></li>
                                 <li><a href="/fs3/fs3-3/combat#attack-rolls">Attack Rolls</a></li>
                                 <li><a href="/fs3/fs3-3/combat#hit-location">Hit Location</a></li>
                                 <li><a href="/fs3/fs3-3/combat#cover-and-armor">Cover and Armor</a></li>
                                 <li><a href="/fs3/fs3-3/combat#damage">Damage</a></li>
                                 <li><a href="/fs3/fs3-3/combat#luck">Luck</a></li>
                                 <li><a href="/fs3/fs3-3/combat#healing">Healing</a></li>                                 
                                 <li><a href="/fs3/fs3-3/running-combat">Running Combats</a></li>                                 
                                 </ul>
                                 
                                 <h4>Code Help</h4>
                                 <ul>
                                     <li><a href="/fs3/fs3-3/roll-tutorial">Rolls Tutorial</a></li>                                 
                                     <li><a href="/fs3/fs3-3/combat-tutorial">Combat Tutorial</a></li>                               
                                 </ul>
                                 
                                 <h4>Design Guide</h4>
                                 
                                 <ul>
                                     <li><a href="/fs3/fs3-3/choosing-fs3">Choosing FS3</a></li>
                                     <li><a href="/fs3/fs3-3/core">FS3 Core</a></li>
                                     <li><a href="/fs3/fs3-3/tweaking-fs3">Tweaking FS3</a></li>
                                     <li><a href="/fs3/fs3-3/mechanics">Dice Mechanics</a></li>
                                     <li><a href="/fs3/fs3-3/combat-mechanics">Combat Mechanics</a></li>                                 
                                     </ul>
                         </div>
                     </div>

                         
                         
                           <div class="col span_3_of_4">   

                               
             <div class="page">
<h1>{{{page.title}}}</h1>

<div style="background-color:#CF895D;padding:20px;margin:5px;margin-bottom:50px;">
    <b>3rd Edition is in development and subject to change.</b>
</div>

                 {{{ content }}}
             </div>             
                           </div>
              
                          