---
layout : default
---

                         
                         {{# javascripts.load }}
                         ansi_up.js
                         ansi.js
                         {{/ javascripts.load }}
                         
                         
                           <div class="col span_3_of_4">   

                               
             <div class="page">
                 
                 <div class="fs3-shortcut">
                     <a href="#toc">(View Table of Contents)</a>
                 </div>
                 
                 <div class="ansi">

                 {{{ content }}}
                 
                 </div>
                 
             </div>             
                           </div>
              
              
                  <div class="col span_1_of_4">
                      
                      
                      <a name="toc"/>
                      <div class="sidebar fs3-sidebar"> 
                          
                      <h2>Online Help</h2>
                      
                      {{>plugin_list_1-0}}
                      
                      <a href="/plugins">Back to Plugins</a>
                      
                  </div>
              </div>
              
                          