---
layout : page
---

<div class="tutorial-nav">
    This article is part of the <a href="/mush-101">MUSH-101</a> tutorial.
<ul>
<li><a href="/mush-101/game-of-words">Part 1 - A Game of Words</a></li>
<li><a href="/mush-101/connecting-and-commo">Part 2 - Connecting and Communicating</a></li>
<li><a href="/mush-101/finding-a-game">Part 3 - Finding A Game</a></li>
<li><a href="/mush-101/joining-the-cast">Part 4 - Joining the Cast</a></li>
<li><a href="/mush-101/telling-your-story">Part 5 - Telling Your Story</a></li>
<li><a href="/mush-101/important-commands">Part 6 - Important Commands</a></li>
<li><a href="/mush-101/mu-glossary">Part 7 - MUSH Glossary</a></li>
</ul>

</div>


    {{{ content }}}

<div class="tutorial-nav">
    This article is part of the <a href="/mush-101">MUSH-101</a> tutorial.
    
    <div class="pagination">
        <ul>
            {{# page.prevstep }}
            <li><a href="/mush-101/{{page.prevstep}}"> &larr; Previous</a></li>
            {{/ page.prevstep}}
            {{^ page.prevstep }}
            <li class="link-disabled"><a>&larr; Previous</a></li>
            {{/ page.prevstep }}
            
            <li><a href="/mush-101">Index</a> </li>
            
            {{# page.nextstep }}
            <li><a href="/mush-101/{{page.nextstep}}">Next &rarr; </a></li>
            {{/ page.nextstep }}
            {{^ page.nextstep }}
            <li class="link-disabled"><a>Next &rarr;</a></li>
            {{/ page.nextstep }}
        </ul>
    </div>
        <br/>
</div>

