---
layout : default
---



<div class="row">
                         
                         
    <div class="col col-sm-9">   

<h1>{{{page.title}}}</h1>

    <div class="tags-box">
                 <ul class="tags-box">
                 {{# page.tags }}
                 <li><a href="/tags#{{name}}">[{{ name }}]</a></li>
                 {{/ page.tags }}
                 </ul>
    </div>
                               
             <div class="page">
                 {{{ content }}}
             </div>             
                           </div>
              
                           <div class="col col-sm-3">
                               {{> sidebar }}
                  
                           </div>
</div>