---
layout : default
---

<div class="post">


    <div class="page-header">
        <div class="title">
            <a href="{{page.url}}">{{page.title}}</a>
        </div> 
            
    </div>
    
             {{# page.preview_image }}
            <div class="cover">
               
                <img src="{{urls.production_url}}{{urls.media}}/postpics/{{ . }}"/>

               
        
            </div>
             {{/ page.preview_image }}
            
            <div class="post-metadata">
            
                <div class="gravatar">
                    <img src="/assets/media/faraday.jpg">
                    
                </div>
            
                by <a href="/about">{{page.author}}</a>
                <br/>{{ page.date }}
            

                <div class="tags">
                    {{# page.tags }}
                    {{> tags_list_item }}
                    {{/ page.tags }}
                </div>
            
                {{{widgets.share_this}}}
            
            </div>
            
            <div class="post-content">
                {{{ page.content }}}
            </div>
            
       
    <br/><br/>
    
    <hr/>


           <div class="pagination">
               <ul>
                   {{# page.previous }}
                   <li class="prev"><a href="{{ url }}" title="{{ title }}">&larr; Previous Post</a></li>
                   {{/ page.previous }}
                   {{^ page.previous }}
                   <li class="link-disabled"><a>&larr; Previous Post</a></li>
                   {{/ page.previous }}

       <li><a href="/blog">Back to Blog</a></li>


                   {{# page.next }}
                   <li class="next"><a href="{{ url }}" title="{{ title }}">Next Post &rarr;</a></li>
                   {{/ page.next }}
                   {{^ page.next }}
                   <li class="link-disabled"><a>Next Post &rarr;</a>
                       {{/ page.next }}
                   </ul>
               </div>

               <br/>
               <hr/>
    
               {{{ widgets.comments }}}    
      
</div>