---
layout : default
---

                         
<div class="row">
                         
                         
    <div class="col col-sm-9">   

                               
             <div class="page">
                 
                 <h1>{{{page.title}}}</h1>
                 
                 <div class="fs3-shortcut">
                     <a href="#toc">(View Table of Contents)</a>
                 </div>
                 

                     {{{ content }}}

                 <div class="tutorial-nav">
                     <p>This article is part of the <a href="/{{page.tutorialIndex}}">{{page.tutorialName}}</a> tutorial.</p>
    
                     <div class="pagination-block">
                         <ul>
                             {{# page.prevstep }}
                             <li><a href="/{{page.tutorialIndex}}/{{page.prevstep}}"> &larr; Previous</a></li>
                             {{/ page.prevstep}}
                             {{^ page.prevstep }}
                             <li class="link-disabled"><a>&larr; Previous</a></li>
                             {{/ page.prevstep }}
            
                             <li><a href="/{{page.tutorialIndex}}">Back to Start</a> </li>
            
        
                             {{# page.nextstep }}
                             <li><a href="/{{page.tutorialIndex}}/{{page.nextstep}}">Next &rarr; </a></li>
                             {{/ page.nextstep }}
                             {{^ page.nextstep }}
                             <li class="link-disabled"><a>Next &rarr;</a></li>
                             {{/ page.nextstep }}
                         </ul>
                     </div>
    
                     <br/>
                 </div>
                 
             </div>             
                           </div>
              
              
                  <div class="col col-sm-3">
                      
                      
                      <a name="toc"></a>
                      <div class="sidebar fs3-sidebar"> 
                      
                      {{> searchbox}}
                      
                      <h2>{{page.tutorialName}}</h2>
                      
                      {{# page.addCmdTutorial}}
                      {{> add_command_tutorial }}
                      {{/ page.addCmdTutorial}}
                      
                      {{# page.installTutorial}}
                      {{> install_tutorial }}
                      {{/ page.installTutorial}}
                      
                      {{# page.quickstartTutorial}}
                      {{> quickstart_tutorial }}
                      {{/ page.quickstartTutorial}}
                      
                      {{# page.mush101Tutorial}}
                      {{> mush101_tutorial }}
                      {{/ page.mush101Tutorial}}
                      
                      {{# page.createPluginTutorial}}
                      {{> create_plugin_tutorial }}
                      {{/ page.createPluginTutorial}}
                      
                  </div>
              </div>
              
</div>

