---
layout: default
---

<div class="row">
                         
                         
    <div class="col col-sm-9">   

                               
             <div class="page">
                 
                 <div class="fs3-shortcut">
                     <a href="#toc">(View Table of Contents)</a>
                 </div>
                 
<h1>{{page.title}}</h1>

                 {{ content }}

                 {%if page.prev-article %}
                 <a href="/fs3/fs3-3/{{page.prev-article}}">&larr;  Previous</a>
                 {% endif %}
                 
                 | 
                 
                 {%if page.next-article %}
                 <a href="/fs3/fs3-3/{{page.next-article}}">Next &rarr; </a>
                 {% endif %}
             </div>             
                           </div>
              
              
                  <div class="col col-sm-3">
                      
                      
                      <a name="toc"/>
                      <div class="sidebar fs3-sidebar"> 
                          
                      <h2>FS3.3 System Reference</h2>
                      <a href="/fs3/fs3-3/">Introduction</a>
                      
                      <h4>Player's Guide</h4>
                      <ul>
                          <li><a href="/fs3/fs3-3/basics.html">System Basics</a></li>
                          <li><a data-toggle="collapse" data-target="#chargen-toggle" class="fs3-menu-toggle"><i class="fad fa-caret-square-right"></i> Character Creation</a>

                          <div id="chargen-toggle" class="collapse fs3-menu-collapse">
                          <ul>
                              <li> <a href="/fs3/fs3-3/chargen.html">Character Creation Intro</a></li>
                              <li><a href="/fs3/fs3-3/chargen.html#concept">Concept</a></li>
                              <li><a href="/fs3/fs3-3/chargen.html#ability-points">Ability Points</a></li>
                              <li><a href="/fs3/fs3-3/chargen.html#ratings">Ratings</a></li>
                              <li><a href="/fs3/fs3-3/chargen.html#attributes">Attributes</a></li>
                              <li><a href="/fs3/fs3-3/chargen.html#action-skills">Action Skills</a></li>
                              <li><a href="/fs3/fs3-3/chargen.html#background-skills">Background Skills</a></li>
                              <li><a href="/fs3/fs3-3/chargen.html#languages">Languages</a></li>
                              <li><a href="/fs3/fs3-3/chargen.html#advantages">Advantages</a></li>
                              <li><a href="/fs3/fs3-3/detailed-ratings.html">Detailed Ability Ratings</a></li>
                          </ul>
                          </div>
                            
                              
                          </li>
                          <li><a data-toggle="collapse" data-target="#rolls-toggle" class="fs3-menu-toggle"><i class="fad fa-caret-square-right"></i> Ability Rolls</a>

                          <div id="rolls-toggle" class="collapse fs3-menu-collapse">
                              <ul>
                                <li><a href="/fs3/fs3-3/conflict.html">Ability Rolls Intro</a></li>
                                <li><a href="/fs3/fs3-3/conflict.html#when-to-roll">When to Roll</a></li>
                                <li><a href="/fs3/fs3-3/conflict.html#hail-mary">Hail Mary Rolls</a></li>
                                <li><a href="/fs3/fs3-3/conflict.html#what-to-roll">What to Roll</a></li>
                                <li><a href="/fs3/fs3-3/conflict.html#defaulting">Defaulting</a></li>
                                <li><a href="/fs3/fs3-3/conflict.html#specialties">Specialties</a></li>
                                <li><a href="/fs3/fs3-3/conflict.html#success-level">Success Level</a></li>
                                <li><a href="/fs3/fs3-3/conflict.html#modifiers">Modifiers</a></li>
                                <li><a href="/fs3/fs3-3/conflict.html#linked-attributes">Linked Attributes</a></li>
                                <li><a href="/fs3/fs3-3/conflict.html#opposed-rolls">Opposed Rolls</a></li>
                                <li><a href="/fs3/fs3-3/conflict.html#teamwork">Teamwork</a></li> 
                                <li><a href="/fs3/fs3-3/conflict.html#social">Social and Performance Skills</a></li> 
                              </ul>
                            </div>
                          </li>
                          
                          <li><a href="/fs3/fs3-3/luck.html">Luck Points</a></li>
                          <li><a href="/fs3/fs3-3/experience.html">Experience</a></li>
                          <li><a data-toggle="collapse" data-target="#combat-toggle" class="fs3-menu-toggle"><i class="fad fa-caret-square-right"></i> Combat System</a>

                          <div id="combat-toggle" class="collapse fs3-menu-collapse">
                              <ul>
                                <li><a href="/fs3/fs3-3/combat.html">Combat Intro</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#turns">Turns</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#actions">Actions</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#initiative">Initiative</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#stance">Stance</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#vehicles">Vehicles</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#attack-rolls">Attack Rolls</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#hit-location">Hit Location</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#cover-and-armor">Cover and Armor</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#damage">Damage</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#luck">Luck</a></li>
                                <li><a href="/fs3/fs3-3/combat.html#healing">Healing</a></li>
                              </ul>
                            </div>
                          </li>
                          </ul>
                          
                          <h4>Command Reference</h4>
                          <ul>
                              <li><a href="/fs3/fs3-3/roll-quickref.html">Rolls Quick Reference</a></li>
                              <li><a href="/fs3/fs3-3/combat-quickref.html">Combat Quick Reference</a></li>
                              <li><a href="/fs3/fs3-3/running-combat.html">Running Combats</a></li>
                              <li><a href="/fs3/fs3-3/combat-walkthrough.html">Combat Interactive Walkthrough</a></li>                          </ul>
                          
                          <h4>Design Guide</h4>
                          
                          <ul>
                              <li><a href="/fs3/fs3-3/design.html">Designing a FS3 Game</a></li>
                              <li><a href="/fs3/fs3-3/choosing-fs3.html">Choosing FS3</a></li>
                              <li><a href="/fs3/fs3-3/tweaking-fs3.html">Customizing FS3</a></li>
                              <li><a href="/fs3/fs3-3/min-maxing.html">Managing Min-Maxing</a></li>
                          </ul>
                          
                          <h4>Geekery</h4>
                          
                          <ul>
                              <li><a href="/fs3/fs3-3/mechanics.html">Dice Mechanics</a></li>
                              <li><a href="/fs3/fs3-3/combat-mechanics.html">Combat Mechanics</a></li>                                 
                              </ul>
                  </div>
              </div>
              
</div>